<footer class="footer">
  <div class="circle">ZALDA</div>
  <p>
    <i class="am-icon-github am-icon-fw"></i>
    本项目开源地址：
    <a target="_blank" href="https://github.com/q545244819/zelda-website">ZELDA PROJECT</a></p>
</footer>