<div class="am-u-sm-4 categories-item-wrap">
  <p class="info am-cf"><%= item.created_at.to_formatted_s(:db) %><span class="am-badge am-badge-primary am-radius am-fr"><%= item.category.name %></span></p>
  <div class="image" style="background-image: url(http://ww1.sinaimg.cn/large/6d693dfegy1ff3s67azjuj207n0533ya.jpg)"></div>
  <a href="/articles/<%= item.id %>" class="title"><%= item.title %></a>
</div>