<header class="am-topbar-customer-wrap" id="js-topbar">
  <header class="am-topbar am-topbar-customer">
    <h1 class="am-topbar-brand">
      <a href="/" class="am-text-ir" title="Zelda"></a>
    </h1>

    <div class="am-collapse am-topbar-collapse am-topbar-right" id="doc-topbar-collapse" data-am-scrollspynav="{className: {active: 'am-active'}}">
      <ul class="am-nav am-nav-pills am-topbar-nav">
        <% if @name == 'home' %>
          <li><a href="#home">首页</a></li>
          <li><a href="#无人机">无人机</a></li>
          <li><a href="#机器学习">机器学习</a></li>
          <li><a href="#人工智能">人工智能</a></li>
          <li><a href="/about">关于本站</a></li>
        <% else %>
          <li><a href="/">首页</a></li>
          <li <% if @category && @category.name == '无人机' %> class="am-active" <% end %>><a href="/categories/1">无人机</a></li>
          <li <% if @category && @category.name == '机器学习' %> class="am-active" <% end %>><a href="/categories/2">机器学习</a></li>
          <li <% if @category && @category.name == '人工智能' %> class="am-active" <% end %>><a href="/categories/3">人工智能</a></li>
          <li <% if @name == 'about' %> class="am-active" <% end %>><a href="/about">关于本站</a></li>
        <% end %>
      </ul>
    </div>
  </header>
</header>