<section <% if @article.image %>style="background-image: url(<%= @article.image %>)"<% end %> class="articles-image">
  <div class="mask"></div>
  <div class="text">
    <h1><%= @article.title %></h1>
    <p><%= @article.created_at.to_formatted_s(:db) %></p>
  </div>
</section>

<section class="am-container">
  <article class="am-article article-wrap">
    <div class="am-article-bd">
      <%= @article.body.html_safe %>
    </div>
  </article>
</section>