<section style="background-image: url(http://ww1.sinaimg.cn/large/6d693dfegy1ff3s67azjuj207n0533ya.jpg)" class="articles-image">
  <div class="mask"></div>
  <div class="text">
    <h1>ZEALER-FIX 主板体验之 iGame Z270 烈焰战神 X</h1>
    <p>2017-04-28 19:34:16</p>
  </div>
</section>

<section class="am-container">
  <article class="am-article">
    <div class="am-article-bd">
      <p><p>导语：光荣特库摩宣布，将制作历史模拟游戏《信长之野望》系列最新作《信长之野望․大志》。本作为1983年系列首代发售以来之第15代的作品。作为历史模拟游戏的先锋，除了继承前作《信长之野望․创造》所保持的系列传统之外，还有更多全新的要素。</p></p>
    </div>
  </article>
</section>