<div class="am-container">
  <table class="am-table am-table-bordered am-table-radius am-table-striped am-table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>标题</th>
        <th>分类</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% @articles.each do |item| %>
        <tr>
          <td><%= item.id %></td>
          <td><%= item.title %></td>
          <td><%= item.category.name %></td>
          <td>
            <a href="###" class="am-btn am-btn-primary">编辑</a>
            <a href="###" class="am-btn am-btn-danger">删除</a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= will_paginate @articles, class: 'am-pagination am-pagination-center', previous_label: '上一页', next_label: '下一页' %>
</div>