<section class="am-g hot-news-wrap" id="home">
  <a style="background-image: url(http://ww1.sinaimg.cn/large/6d693dfegy1ff3s67azjuj207n0533ya.jpg)" class="am-u-sm-6 primary" href="###">
    <div class="info-warp">
      <h1 class="title">不越狱，10 秒钟就搞定苹果手机录屏？</h1>
      <p class="sub-info">发布时间：2017-01-01<span class="am-badge am-badge-primary am-radius">无人机</span></p>
    </div>
  </a>
  <a style="background-image: url(http://ww1.sinaimg.cn/large/6d693dfegy1ff3s67azjuj207n0533ya.jpg)" class="am-u-sm-3 second" href="###">
    <div class="info-warp">
      <h1 class="title">拼的就是心跳，颂拓光电心率运动手表</h1>
      <p class="sub-info">发布时间：2017-01-01<span class="am-badge am-badge-primary am-radius">人工智能</span></p>
    </div>
  </a>
  <a style="background-image: url(http://ww1.sinaimg.cn/large/6d693dfegy1ff3s67azjuj207n0533ya.jpg)" class="am-u-sm-3 second" href="###">
    <div class="info-warp">
      <h1 class="title">拼的就是心跳，颂拓光电心率运动手表</h1>
      <p class="sub-info">发布时间：2017-01-01<span class="am-badge am-badge-primary am-radius">机器学习</span></p>
    </div>
  </a>
</section>

<section class="am-container">
  <section class="am-g">
    <div class="am-u-sm-6 categories-item-wrap">
      <p class="info am-cf">2017-04-29<span class="am-badge am-badge-primary am-radius am-fr">机器学习</span></p>
      <div class="image" style="background-image: url(http://ww1.sinaimg.cn/large/6d693dfegy1ff3s67azjuj207n0533ya.jpg)"></div>
      <a href="###" class="title">ZEALER-FIX 主板体验之 iGame Z270 烈焰战神 X</a>
    </div>
    <div class="am-u-sm-6 categories-item-wrap">
      <p class="info am-cf">2017-04-29<span class="am-badge am-badge-primary am-radius am-fr">机器学习</span></p>
      <div class="image" style="background-image: url(http://ww1.sinaimg.cn/large/6d693dfegy1ff3s67azjuj207n0533ya.jpg)"></div>
      <a href="###" class="title">ZEALER-FIX 主板体验之 iGame Z270 烈焰战神 X</a>
    </div>
  </section>
</section>