<section class="am-g hot-news-wrap">
  <a style="background-image: url(http://img0.zealer.com/1c/b1/53/c0c7645c72d4509d6590ddd99f.jpg)" class="am-u-sm-6 primary" href="###">
    <div class="info-warp">
      <h1 class="title">不越狱，10 秒钟就搞定苹果手机录屏？</h1>
      <p class="sub-info">发布时间：2017-01-01<span class="am-badge am-badge-primary am-radius">无人机</span></p>
    </div>
  </a>
  <a style="background-image: url(http://img0.zealer.com/be/71/6b/6975324262d2897080463d435d.jpg)" class="am-u-sm-3 second" href="###">
    <div class="info-warp">
      <h1 class="title">拼的就是心跳，颂拓光电心率运动手表</h1>
      <p class="sub-info">发布时间：2017-01-01<span class="am-badge am-badge-primary am-radius">人工智能</span></p>
    </div>
  </a>
  <a style="background-image: url(http://img0.zealer.com/57/6f/e5/ace40c5a7013ded3eb58ad5e4b.jpg)" class="am-u-sm-3 second" href="###">
    <div class="info-warp">
      <h1 class="title">拼的就是心跳，颂拓光电心率运动手表</h1>
      <p class="sub-info">发布时间：2017-01-01<span class="am-badge am-badge-primary am-radius">机器学习</span></p>
    </div>
  </a>
</section>