<section class="am-container">
  <section class="am-g">
    <div class="am-u-sm-4 hot-news-item-wrap">
      <p class="info am-cf">2017-04-29<span class="am-badge am-badge-primary am-radius am-fr">机器学习</span></p>
      <div class="image" style="background-image: url(http://img0.zealer.com/1b/78/f5/8b7ca3992232dbe4fb9e82e694.jpg)"></div>
      <a href="###" class="title">ZEALER-FIX 主板体验之 iGame Z270 烈焰战神 X</a>
    </div>
    <div class="am-u-sm-4 hot-news-item-wrap">
      <p class="info am-cf">2017-04-29<span class="am-badge am-badge-primary am-radius am-fr">机器学习</span></p>
      <div class="image" style="background-image: url(http://img0.zealer.com/1b/78/f5/8b7ca3992232dbe4fb9e82e694.jpg)"></div>
      <a href="###" class="title">ZEALER-FIX 主板体验之 iGame Z270 烈焰战神 X</a>
    </div>
    <div class="am-u-sm-4 hot-news-item-wrap">
      <p class="info am-cf">2017-04-29<span class="am-badge am-badge-primary am-radius am-fr">机器学习</span></p>
      <div class="image" style="background-image: url(http://img0.zealer.com/1b/78/f5/8b7ca3992232dbe4fb9e82e694.jpg)"></div>
      <a href="###" class="title">ZEALER-FIX 主板体验之 iGame Z270 烈焰战神 X</a>
    </div>
    <div class="am-u-sm-4 hot-news-item-wrap">
      <p class="info am-cf">2017-04-29<span class="am-badge am-badge-primary am-radius am-fr">机器学习</span></p>
      <div class="image" style="background-image: url(http://img0.zealer.com/1b/78/f5/8b7ca3992232dbe4fb9e82e694.jpg)"></div>
      <a href="###" class="title">ZEALER-FIX 主板体验之 iGame Z270 烈焰战神 X</a>
    </div>
    <div class="am-u-sm-4 hot-news-item-wrap">
      <p class="info am-cf">2017-04-29<span class="am-badge am-badge-primary am-radius am-fr">机器学习</span></p>
      <div class="image" style="background-image: url(http://img0.zealer.com/1b/78/f5/8b7ca3992232dbe4fb9e82e694.jpg)"></div>
      <a href="###" class="title">ZEALER-FIX 主板体验之 iGame Z270 烈焰战神 X</a>
    </div>
    <div class="am-u-sm-4 hot-news-item-wrap">
      <p class="info am-cf">2017-04-29<span class="am-badge am-badge-primary am-radius am-fr">机器学习</span></p>
      <div class="image" style="background-image: url(http://img0.zealer.com/1b/78/f5/8b7ca3992232dbe4fb9e82e694.jpg)"></div>
      <a href="###" class="title">ZEALER-FIX 主板体验之 iGame Z270 烈焰战神 X</a>
    </div>
  </section>
</section>