<section class="am-container">
  <section class="am-g">
    <% for item in 1..6 %>
      <%= render partial: 'components/item', local: {} %>
    <% end %>
  </section>
  <a class="am-btn am-btn-primary am-radius btn-more" href="###">更多</a>
</section>