<section style="background-image: url(about.jpg);" class="articles-image">
  <div class="mask"></div>
  <div class="text">
    <h1>关于本站</h1>
  </div>
</section>

<section class="am-container">
  <article class="am-article article-wrap">
    <div class="am-article-bd">
      <h1>申明</h1>
      <p>本网站主要用用来作为 2017 年深职院网页设计比赛的展示，网站所使用到的内容均来自网络，如果有版权问题，请尽快联系我删除相关内容。</p>
      <h1>技术选型</h1>
      <ul>
        <li>Ruby on Rails</li>
        <li>AmazeUI</li>
        <li>jQuery</li>
      </ul>
      <h1>我是谁</h1>
      <ul>
        <li>一名深职院的学生</li>
        <li>有 web 开发的相关经验</li>
        <li>比较擅长 JavaScript 和 NodeJS</li>
        <li>最近学习 Ruby 和 Rails 中</li>
        <li><a target="_blank" href="https://johnhsm.cn">个人博客</a></li>
        <li><a target="_blank" href="https://segmentfault.com/u/johnh">SegmentFault</a></li>
        <li><a target="_blank" href="https://github.com/q545244819">GitHub</a></li>
      </ul>
      <h1>联系我</h1>
      <ul>
        <li><a href="mailto:2893268732@qq.com">2893268732@qq.com</a></li>
        <li>
          <img src="wechat.jpg" alt="微信" class="am-img-thumbnail am-radius">          
        </li>
      </ul>
    </div>
  </article>
</section>