.am-topbar-nav > li:hover > a:after {
  opacity: 0;
}
.am-topbar-nav > li.am-active > a:after {
  opacity: 0;
}

.am-topbar-customer {
  & * {
    display: inline-block;
  }

  & > h1 {
    font-size: 36px;
  }

  & .am-text-ir {
    display: block;
    height: 50px;
    width: 144px;
    background: url(logo.jpg) no-repeat left center;
    background-size: 144px 50px;
  }
  
  width: 800px;
  margin: 0 auto;
  padding: 15px 0;
  border-bottom: none;  
  text-align: center;
  background-color: transparent;
}

.am-topbar-customer-wrap {
  font-size: 14px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.footer {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 65px 0 15px;
  background-color: #fff;
  border-top: 1px solid #ddd;
  text-align: center;
  color: #000;

  & > .circle {
    position: absolute;
    top: -95px;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    height: 150px;
    background-color: #0e90d2;
    border-radius: 100%;
    line-height: 230px;
    color: #fff;
    font-weight: bold;
    font-size: 32px;
  }

  & > p {
    margin: 0;
  }
}