body {
  padding-top: 81px;
}

.am-topbar-nav > li:hover > a:after {
  opacity: 0;
}
.am-topbar-nav > li.am-active > a:after {
  opacity: 0;
}

.am-topbar-customer-wrap {
  position: fixed;
  z-index: 10;  
  top: 0;
  left: 0;
  width: 100%;
  font-size: 14px;
  background-color: rgba(255, 255, 255, .9);
  border-bottom: 1px solid #ddd;
}

.am-topbar-customer {
  & * {
    display: inline-block;
  }

  & > h1 {
    font-size: 36px;
  }

  & .am-text-ir {
    display: block;
    height: 50px;
    width: 144px;
    background: url(logo.jpg) no-repeat left center;
    background-size: 144px 50px;
  }
  
  & .am-nav > li > a.am-active,
  & .am-nav > li > a:focus,
  & .am-nav > li > a:hover {
    border-radius: 0;
    color: #0e90d2;
    background: 0 0;
  }
  
  width: 800px;
  margin: 0 auto;
  padding: 15px 0;
  border-bottom: none;  
  text-align: center;
  background-color: transparent;
}

.footer {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 65px 0 15px;
  background-color: #fff;
  border-top: 1px solid #ddd;
  text-align: center;
  color: #000;

  & > .circle {
    position: absolute;
    top: -95px;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    height: 150px;
    background-color: #0e90d2;
    border-radius: 100%;
    line-height: 230px;
    color: #fff;
    font-weight: bold;
    font-size: 32px;
  }

  & > p {
    margin: 0;
  }
}

.categories-item-wrap {
  margin: 15px 0;

  &:hover > .image {
    background-size: 150%;
  }

  & > .info {
    margin: 0;
    color: #000;
    font-size: 14px;
  }

  & > .image {
    transition: background-size 1s;
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    background-size: 130%;
    background-position: center center;
  }

  & > .title {
    box-sizing: border-box;
    display: block;
    margin: 10px 0;
    border-left: 5px solid #0e90d2;
    padding-left: 1em;
    color: #000;
    
    &:hover {
      text-decoration: underline;
    }
  }
}

.nothing-wrap {
  text-align: center;
  margin: 100px 0;
  font-size: 56px;
}