<section class="am-container">
  <h1 class="categories-tile"><%= @category.name %></h1>

  <section class="am-g">
    <% @articles.each do |item| %>
      <%= render partial: 'components/item', locals: {item: item} %>
    <% end %>
  </section>

  <ul class="am-pagination am-pagination-centered">
    <li class="am-disabled"><a href="#">&laquo;</a></li>
    <li class="am-active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">&raquo;</a></li>
  </ul>
</section>